.fieldpopupmatdialog{
  position: absolute;
  top: 44%;
  left: 44.2%;
}

.okmatdialog{
  position: absolute;
  top: 52%;
  left: 47.8%;
}

.errorMessage {
  color: red;
  position: absolute;
  top: 59%;
  left: 46%;
}
