<div *ngIf="shop" >
  <p class="shopInformation1">{{ shop.label}} </p> <br>
  <p class="shopInformation2">People near the shop : {{ nbPeopleClose }} </p> <br>
</div>


<div class="sellersexit" >
  <a [routerLink]="['..']" class="increaseSize">
    <mat-icon [inline]="true" >exit_to_app</mat-icon>
  </a>
</div>

<div class="sellerinfo" >
  <a [routerLink]="['..']" class="increaseSize">
    <mat-icon [inline]="true" >info</mat-icon>
  </a>
</div>

<div *ngIf="shopRate!=undefined">
  <h2>
    Your store rating is : {{shopRate}}
  </h2>
</div>

<div *ngIf="shopRate==undefined">
  <h2>
    Your shop hasn't been rated yet
  </h2>
</div>



<div>
  <h3>
    previous page
  </h3>
</div>

<br><br><br><br><br><br><br>
<div>
  <table class="tble">
    <div>
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </table>
</div>
