<div *ngIf="shop" class="shopInformation">
  <p>{{ shop.label}} </p> <br>
  <p>Number of people close to the shop : {{ nbPeopleClose }} </p> <br>

<table class="tble">
  <div class="chart-wrapper">
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>
  </table>

</div>
