.tble{
  width: 50%;
  height: 50%;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 47%;
}
h2 {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 15%;
  font-size: 200%;
}

h3 {
  position: absolute;
  text-align: center;
  top: 78.5%;
  left: 69.5%;
  font-size: 200%;
}

.sellersexit {
  position: absolute;
  top: 60%;
  left: 72%;
}

.increaseSize
{
  font-size: 800%;
}

.sellerinfo{
  position: absolute;
  top: 30%;
  left: 5%;
}

.shopInformation1{
  position: absolute;
  font-size: 4em;
  left: 10%;
  top: 10%;
}

.shopInformation2{
  position: absolute;
  font-size: 3em;
  left: 5%;
  top: 70%;
}
