h2 {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 15%;
  font-size: 200%;
}

h3 {
  position: absolute;
  text-align: center;
  top: 70.5%;
  left: 69.5%;
  font-size: 200%;
}

.sellersexit {
  position: absolute;
  top: 50%;
  left: 72%;
}

.increaseSize
{
  font-size: 800%;
}

.sellerinfo{
  position: absolute;
  top: 20%;
  left: 5%;
}
