<div class="display">
  <h1><br>Welcome to PolyVille Active !</h1>

  <div class="inhabitantDisplay">
    <a (click)="openInhabitantsDialog()" class="inhabitantIcon">
      <mat-icon [inline]="true">account_box</mat-icon>
    </a><br>
    <h1>Inhabitants and Visitors</h1>
  </div>

  <div class="sellerDisplay">
    <a (click)="openSellersDialog()" class="sellerIcon">
      <mat-icon [inline]="true">shop</mat-icon>
    </a><br>
    <h1>Sellers</h1>
  </div>
<!--</div>-->
  <div class="culturalActorDisplay">
    <a class="actorIcon">
      <mat-icon (click)="openTownHallEmployeesDialog()" [inline]="true">supervised_user_circle</mat-icon>
    </a><br>
    <h1>Cultural Actor</h1>
  </div>

  <div class="TownHallemployeeDisplay">
    <a class="TownHallemployeeIcon">
      <mat-icon (click)="openCulturalActorsDialog()" [inline]="true">perm_identity</mat-icon>
    </a><br>
    <h1 style="position: absolute;left: -28%;white-space: nowrap;">Town Hall</h1>
    <h1 style="position: absolute;top: 130%;left: -28%;">Employee</h1>
  </div>
</div>
