h1 {
  right: 0;
  left: 0;
  background-color: inherit;
  text-align: center;
  height: 20%;
}

.inhabitantDisplay{
  align-items: center;
  text-align: center;
  align-content: center;
  height: 30%;
}

.sellerDisplay{
  align-items: center;
  text-align: center;
  align-content: center;
  height: 35%;
}


.TownHallemployeeIcon{
  font-size: 7em;
  cursor: pointer;

}

.sellerIcon {
  font-size: 7em;
  cursor: pointer;
}

.inhabitantIcon {
  font-size: 7em;
  cursor: pointer;
}

.actorIcon{
  font-size: 7em;
  cursor: pointer;
}

.culturalActorDisplay{
  position: absolute;
  text-align: center;
  top: 28%;
  left: 9%;
  height: 35%;
}

.culturalActorIcon{
  position: absolute;
  font-size: 4em;
}

.TownHallemployeeDisplay{
  position: absolute;
  left: 79%;
  top: 27.5%;
}
