<div class="display">
  <h1><br>Welcome to PolyVille Active !</h1>

  <div class="inhabitantDisplay">
    <a (click)="openInhabitantsDialog()" class="inhabitantIcon">
      <mat-icon [inline]="true">account_box</mat-icon>
    </a><br>
    <h1>Inhabitants and Visitors</h1>
  </div>

  <div class="sellerDisplay">
    <a (click)="openSellersDialog()" class="sellerIcon">
      <mat-icon [inline]="true">shop</mat-icon>
    </a><br>
    <h1>Sellers</h1>
  </div>

  <div class="actorDisplay">
    <a (click)="openSellersDialog()" class="actorIcon">
      <mat-icon [inline]="true">actor</mat-icon>
    </a><br>
    <h1>actor</h1>
  </div>

  <div class="emloyeeDisplay">
    <a (click)="openSellersDialog()" class="emloyeeIcon">
       <mat-icon [inline]="true">employee</mat-icon>
      </a><br>
      <h1>employee</h1>
    </div>
  </div>
