h1 {
  background-color: inherit;
  height: 20%;
}

.TownHallemployeeIcon mat-icon{
  font-size: 7em;
  cursor: pointer;
  position: absolute;
  left: 84%;
  top: 28%;
}

.sellerIcon mat-icon{
  font-size: 7em;
  cursor: pointer;
  position: absolute;
  left: 59%;
  top: 28%;
}

.inhabitantIcon mat-icon{
  font-size: 7em;
  cursor: pointer;
  position: absolute;
  left: 34%;
  top: 28%;
}

.actorIcon mat-icon{
  position: absolute;
  font-size: 7em;
  top: 28%;
  left: 9%;
}
.parkingIcon  mat-icon{
  font-size: 7em;
  cursor: pointer;
  position: absolute;
  left: 47%;
  top: 60%;
}


.TownHallemployeeIcon h1{
  cursor: pointer;
  position: absolute;
  left: 82%;
  top: 43%;
}

.sellerIcon h1{
  cursor: pointer;
  position: absolute;
  left: 59.2%;
  top: 43%;
}

.inhabitantIcon h1{
  cursor: pointer;
  position: absolute;
  left: 32%;
  top: 43%;
}

.actorIcon h1{
  cursor: pointer;
  position: absolute;
  top: 43%;
  left: 5%;
}
.parkingIcon  h1{
  cursor: pointer;
  position: absolute;
  left: 46%;
  top: 75%;
}
