.blockly {
  position: absolute;
  width: 50%;
  height: 70%;
}

.rules {
  width: 50%;
  height: 70%;
  right: 0;
  position: absolute;
}

td, th {
  text-align: left;
  padding: 1%;
  font-size: 1em;
}

tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table{
  width: 100%;
  height: 100%;            //  <-- Select the height of the body
  display: -moz-groupbox;    // Firefox Bad Effect
  float: right;
  font-family: arial, sans-serif;
}

tbody{
  overflow-y: scroll;
  height: 94%;            //  <-- Select the height of the body
  width: 100%;
  position: absolute;
}

table, tbody, .blockly {
  border-color: #1976d2;
  border-style: solid;
  border-width: 1px;
}

.createRule {
  position: absolute;
  margin-top: 675px;
}
