ngx-blockly {
  position: absolute;
  width: 70%;
  height: 70%;
}
h3 {
  position: absolute;
  text-align: center;
  top: 71%;
  left: 78%;
  font-size: 200%;
}

.sellersexit {
  position: absolute;
  top: 50%;
  left: 80.5%;
  font-size: 8em;
}
