<div id="parking" class="card" >
  <h3 style=" padding: 0.2%"> PARKING </h3>
  <div class="card-body">
    <div class="shop" *ngFor="let shop of shops">
      <div class="shopLabel">
        {{shop.label}}
      </div>
      <div class="places">
        <div class="place" *ngFor="let place of shop.parkingSpace.places" [ngStyle]="{'background-color': place.availability? 'green' : 'red'}">
          {{ place.name }}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="actions" class="card">
  <div id="enter" class="card">
    <h3>ENTER</h3>

  </div>
  <div id="goOut" class="card">
    <h3>GO OUT</h3>
  </div>

</div>
