<div id="parking" class="card" >
  <h3 style=" padding: 0.2%"> PARKING </h3>
  <div class="card-body">
    <div class="shop" *ngFor="let shop of shops">
      <div class="shopLabel">
        {{shop.label}}
      </div>
      <div class="places">
        <div class="place" *ngFor="let place of shop.parkingSpace.places" [ngStyle]="{'background-color': !place.availability? 'red' : (place.reserved? 'orange' : 'green') }">
          {{ place.name }}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="actions" class="card">
  <div id="enter" class="card">
    <h3>ENTER</h3>
    <form [formGroup]="enterForm">

      <fieldset>
        <label for="inhabitantId">Inhabitant ID</label><br>
        <input type="text" size="20"
               maxlength="20" value="" id="inhabitantId" [formControlName]="'inhabitantId'" required="required" /><br>
        <label for="placeName">Place Name</label><br>
        <input type="text" size="20"
               maxlength="2" value="" id="placeName" [formControlName]="'placeName'" required="required"/>

      </fieldset>
      <br>
      <p>
        <input type="submit" value="Park" (click)="submit()" />
      </p>
    </form>

  </div>
  <div id="goOut" class="card">
    <h3>GO OUT</h3>
  </div>

</div>
