#parking {
  width: 100%;
  height: 60%;
}
.card-body {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.shop {
  display: flex;
  flex-direction: column;
  width: 22%;
  margin: 0 auto;
  height: 27%;
}

.places {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%
}

.place {
  width: 20%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}


#actions {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
}

#enter, #goOut {
  width: 50%;
}

h3 {
  text-align: center;
}

