<h4>Welcome {{ inhabitant.firstName }} {{ inhabitant.lastName }}</h4>
<p>Your location : {{ inhabitant.latitude}}; {{inhabitant.longitude}} </p>
<div class="inhabitantinformation">
  <input matInput [(ngModel)]="shopName" placeholder="Shop's name"/> <br>
  <button id="runButton" type="button" class="btn btn-success" (click)="move()">Move to a shop</button><br>
  <div class="errorMessage">
    <span *ngIf="error">
      {{ error }}
    </span>
  </div>
</div>



<div class="inhabitantsExit" >
  <a [routerLink]="['..']" class="increaseSize">
    <mat-icon [inline]="true" (click)="logout()">exit_to_app</mat-icon>
  </a>
</div>

<div class="shoprating">
  <a [routerLink]="['shoprating']" class="increaseSize">
    <mat-icon [inline]="true" >rate_review</mat-icon>
  </a>
</div>

<div>
  <h1 style="position: absolute;left: 20%;top: 70%">
    Shops
  </h1>
</div>

<div>
  <h1 style="position: absolute;left: 72%;top: 70%">
    Log out
  </h1>
</div>

<div>
  <mat-icon [routerLink]="['citycenterinformation']" style="position: absolute;left: 85%;top: 26%;font-size: 4em;color: purple">announcement</mat-icon>
</div>

