<h4>Welcome {{ inhabitant.firstName }} {{ inhabitant.lastName }}</h4>
<p>Your location : {{ inhabitant.latitude}}; {{inhabitant.longitude}} </p>


<div class="shoprating">
  <a [routerLink]="['shoprating']" class="increaseSize">
    <mat-icon [inline]="true" >rate_review</mat-icon>
    <h2>  &nbsp;Shops</h2>
  </a>

</div>

<div class="eventrating" >
  <a [routerLink]="['eventrating']" class="increaseSize">
    <mat-icon [inline]="true" >calendar_today</mat-icon>
    <h2> &nbsp;Events</h2>
  </a>

</div>
<div class="inhabitantsExit">
  <a [routerLink]="['..']" class="increaseSize">
    <mat-icon [inline]="true" (click)="logout()">exit_to_app</mat-icon>
    <h2>  Log out</h2>
  </a>
</div>

<div class="parkingRes">
  <a [routerLink]="['parking-places']"  class="increaseSize" >
    <mat-icon [inline]="true" (click)="logout()">local_parking</mat-icon>
    <h2>Parking </h2>
  </a>
</div>



<div>
  <mat-icon [routerLink]="['citycenterinformation']" style="position: absolute;left: 85%;top: 26%;font-size: 4em;color: purple">announcement</mat-icon>
</div>

