<p>Welcome {{ inhabitant.firstName }} {{ inhabitant.lastName }}</p>
<p>Your location : {{ inhabitant.latitude}}; {{inhabitant.longitude}} </p>
<div class="inhabitantsexit" >
  <a [routerLink]="['..']" class="increaseSize">
    <mat-icon [inline]="true" (click)="logout()">exit_to_app</mat-icon>
  </a>
</div>

<div class="shoprating">
  <a [routerLink]="['shoprating']" class="increaseSize">
    <mat-icon [inline]="true" >rate_review</mat-icon>
  </a>
</div>

<div>
  <h1 style="position: absolute;left: 18%;top: 70%">
    Rate a shop
  </h1>
</div>

<div>
  <h1 style="position: absolute;left: 68%;top: 70%">
    previous page
  </h1>
</div>

