<div  class="culturalActorHome">
  <h4>Welcome {{ culturalActor.firstName }} {{ culturalActor.lastName }}</h4>

  <div class="culturalActorblocklycreation" >
    <a [routerLink]="['blockly']" class="increaseSize">
      <mat-icon [inline]="true">add_box</mat-icon>
    </a>
  </div>


  <div class="cActorExit" >
    <a [routerLink]="['..']" class="increaseSize">
      <mat-icon [inline]="true" (click)="logout()">exit_to_app</mat-icon>
    </a>
  </div>

</div>


<h1 style="position: absolute; top: 72%;left: 44%;text-align: center">
  new event
</h1>

<h1 style="position: absolute;top: 72%;left: 71.5%;text-align: center">
  Log out
</h1>
