h4{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  font-size: 4em;
}

.culturalActorblocklycreation {
  text-align: center;
  padding-top: 10%;
}

.cActorExit {
  position: absolute;
  top: 50%;
  left: 72%;
}

.increaseSize
{
  font-size: 800%;
}
