<div  class="culturalActorHome">
  <h4>Welcome {{ culturalActor.firstName }} {{ culturalActor.lastName }}</h4>

  <div class="cActorEvents" >
    <a [routerLink]="['events']" class="increaseSize">
      <mat-icon [inline]="true" >event</mat-icon>
    </a>
    <h1>
      Events
    </h1>
  </div>


  <div class="culturalActorblocklycreation" >
    <a [routerLink]="['blockly']" class="increaseSize">
      <mat-icon [inline]="true">add_box</mat-icon>
    </a>
    <h1>
      New event
    </h1>
  </div>


  <div class="cActorExit" >
    <a [routerLink]="['..']" class="increaseSize">
      <mat-icon [inline]="true" (click)="logout()">exit_to_app</mat-icon>
    </a>
    <h1>
      Log out
    </h1>
  </div>



</div>



