.tble{
  width: 50%;
  height: 50%;
  position: absolute;
  text-align: center;
  top: 20%;
  left: 25%;
}

h3 {
  position: absolute;
  text-align: center;
  top: 81%;
  left: 86.5%;
  font-size: 200%;
}

.sellersexit {
  position: absolute;
  top: 60%;
  left: 85%;
  font-size: 8em;
}
