<main class="flex-container" role="main" >
  <section id="main-section">
    <h1> Events </h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Location</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of eventList;let i = index">
        <th scope="row">{{i}}</th>
        <td>{{event.title}}</td>
        <td> ({{event.dateDebut}}) ; ({{event.dateFin}})</td>
        <td>{{event.lieu}}</td>
      </tr>
      </tbody>
    </table>
  </section>

</main>

<div>
  <a [routerLink]="['..']" class="increaseSize">
    <mat-icon [inline]="true" style="font-size: 8em;position: relative;left: 46%" >exit_to_app</mat-icon>
  </a>
</div>

<div style="font-size: 8em;position: relative;left: 40%">
  <h1>
    previous page
  </h1>
</div>
