h4{
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 4em;
}

.townHallEmployeeBlocklyCreation {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 45%;
}

.townHallEmployeeExit {
  position: absolute;
  top: 50%;
  left: 72%;
}

.increaseSize
{
  font-size: 800%;
}
