h4{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  font-size: 4em;
}

.townHallEmployeeBlocklyCreation {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 46%;
}

.townHallEmployeeExit {
  position: absolute;
  top: 50%;
  left: 72%;
}

.increaseSize
{
  font-size: 800%;
}
