p{
  position: relative;
  top: 10%;
  text-align: center;

}

h1 {
  position: relative;
  top: 20%;
  text-align: center;
}


h2 {
  position: absolute;
  text-align: center;
  top: 71.5%;
  left: 18.5%;
}

h3 {
  position: absolute;
  text-align: center;
  top: 71%;
  left: 69.5%;
  font-size: 200%;
}

h4{
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 4em;
}

.sellersblocklycreation {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 45%;
}


.sellersshopinformation {
  position: absolute;
  top: 50%;
  text-align: left;
  left: 20%;
}

.sellersexit {
  position: absolute;
  top: 50%;
  left: 72%;
}

.increaseSize
{
  font-size: 800%;
}
