p{
  position: relative;
  top: 10%;
  text-align: center;

}

h1 {
  position: relative;
  top: 20%;
  text-align: center;
}


h2 {
  position: absolute;
  text-align: center;
  top: 71.5%;
  left: 18.5%;
}

h3 {
  position: absolute;
  text-align: center;
  top: 70.5%;
  left: 69.5%;
  font-size: 200%;
}

.sellersblocklycreation {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 45%;
}

.sellersblocklycreation a span{
  position: absolute;
  display: block;
}

.sellersblocklycreation a span:nth-child(1) {
  position : absolute;
  top: 0%;
  width: 160%;
  left: -30%;
  height: 2%;
  background: linear-gradient(90deg, #541c8c, #541c8c);
}

.sellersblocklycreation a span:nth-child(2) {
  left: -30%;
  width: 4%;
  height: 100%;
  background: linear-gradient(180deg, #541c8c, #541c8c);
}

.sellersblocklycreation a span:nth-child(3) {
  position : absolute;
  top: 100%;
  width: 160%;
  height: 2%;
  left: -30%;
  background: linear-gradient(270deg, #541c8c, #541c8c);
}

.sellersblocklycreation a span:nth-child(4) {
  left: 126%;
  width: 4%;
  height: 100%;
  background: linear-gradient(360deg, #541c8c, #541c8c);
}


.sellersshopinformation {
  position: absolute;
  top: 50%;
  text-align: left;
  left: 20%;
}

.sellersexit {
  position: absolute;
  top: 50%;
  left: 72%;
}

.increaseSize
{
  font-size: 800%;
}
