.sellersexit {
  position: absolute;
  top: 33%;
  left: 85%;
}

.increaseSize
{
  font-size: 800%;
}

h3 {
  position: absolute;
  text-align: center;
  top: 55%;
  left: 82.5%;
  font-size: 200%;
}
.errorMessage {
  color: red;
  position: absolute;
  top: 20%;
  left: 46%;
}
.errorMessage2 {
  color: red;
  position: absolute;
  top: 70%;
  left: 46%;
}

h4 {
  position: absolute;
  text-align: center;
  top: 55%;
  left: 3%;
  font-size: 200%;
}
