.sellersexit {
  position: absolute;
  top: 60%;
  left: 72%;
}

.increaseSize
{
  font-size: 800%;
}

h3 {
  position: absolute;
  text-align: center;
  top: 80%;
  left: 69.5%;
  font-size: 200%;
}
.errorMessage {
  color: red;
  position: absolute;
  top: 20%;
  left: 46%;
}
.errorMessage2 {
  color: red;
  position: absolute;
  top: 70%;
  left: 46%;
}
