<div *ngIf="!inhabitantIsInsideShop && shop ">
  Come to {{ shop.label }} !
  <button id="runButton" type="button" class="btn btn-success" (click)="moveToTheShop()">Move to the shop</button><br>
</div>

<div class=" shopInfos" *ngIf="shop">
  <!--Welcome to {{ shop.label }} !-->

  <h1 style="position: absolute;top: 20%;left: 41%"> Rate the store !</h1>
  <ngb-rating [(rate)]="currentRate" class="ratingspecificshop" (click)="rateShop()"></ngb-rating>
</div>

<div style="position: absolute;top: 48%;left: 15%">
  <button mat-icon-button color="primary" (click)="UponClicking()" >
    <mat-icon [inline]="true" style="font-size: 8em;">shopping_cart</mat-icon>
  </button>

</div>

<h1 style="position: absolute; left: 13.5%; top: 60%;">
  add items
</h1>

<div style="position: relative; text-align: center; top: 50%">
  <a [routerLink]="['..']" >
    <mat-icon [inline]="true" style="font-size: 8em;" >exit_to_app</mat-icon>
  </a>
</div>

<div style="position: absolute;top: 38%;left: 86%">
  <a [routerLink]="['additionalinfo']" (click)="getShopFromUrl()" class="increaseSize">
    <mat-icon [inline]="true" style="font-size: 8em;" >live_help</mat-icon>
  </a>
</div>

<div style="font-size: 8em;position: absolute;top: 60%;left: 85%">
  <h1>
    additional shop info
  </h1>
</div>

<h1 style="position: relative; text-align: center; top: 45%;">
  previous page
</h1>

